@model PashaMarket.Domain.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<div class="col-lg-9 col-md-9 col-xs-12 pl">
    <div class="profile-content">
        <div class="profile-stats">
            <div class="profile-address">
                <div class="middle-container">
                    <form method="post" asp-area="User" asp-controller="Account" asp-action="ChangePassword" class="form-checkout">
                        <div class="form-checkout-row">
                            <label>رمز عبور قبلی <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                            <input type="password" asp-for="CurrentPassword" class="input-password-checkout form-control">
                            <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                            <label>رمز عبور جدید <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                            <input type="password" asp-for="NewPassword" class="input-password-checkout form-control">
                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                            <label>تکرار رمز عبور جدید <abbr class="required" title="ضروری" style="color:red;">*</abbr></label>
                            <input type="password" asp-for="ConfirmNewPassword" class="input-password-checkout form-control">
                            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                            <div class="AR-CR">
                                <button type="submit" class="btn-registrar"> ثبت تغییرات </button>
                                <a asp-area="User" asp-controller="Home" asp-action="Dashboard" class="cancel-edit-address" data-dismiss="modal" aria-label="Close">بازگشت</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

