@model PashaMarket.Domain.ViewModels.Account.LoginUserViewModel

@{
    ViewData["Title"] = "ورود";
}

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<!-- login----------------------------------->

            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a asp-controller="Account" asp-action="Login" class="login-ds active">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به دیجی اسمارت</span>
                                </a>
                                <a asp-controller="Account" asp-action="Register" class="register-ds">
                                    <span class="title">ثبت نام</span>
                                    <span class="sub-title">در دیجی اسمارت</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>ورود به حساب کاربری</h4>
                                    <form method="post" class="form-account text-right"
                                          asp-controller="Account" asp-action="Login">
                                        <div class="form-account-title">
                                            <label>شماره موبایل</label>
                                            <input type="text" class="number-email-input" asp-for="Mobile">
                                            <span class="text-danger" asp-validation-for="Mobile"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label>رمز عبور</label>
                                            <a asp-controller="Account" asp-action="ForgotPassword" class="account-link-password">رمز خود را فراموش کرده ام</a>
                                            <input type="password" class="password-input" asp-for="Password">
                                            <span class="text-danger" asp-validation-for="Password"></span>
                                        </div>
                                        <div class="form-auth-row">
                                            <label class="ui-checkbox mt-1">
                                                <input type="checkbox" asp-for="RememberMe">
                                                <span class="ui-checkbox-check"></span>
                                            </label>
                                            <label class="remember-me mr-0">مرا به خاطر بسپار</label>
                                        </div>
                                        <div class="form-row-account">
                                            <button type="submit" class="btn btn-primary btn-login">ورود </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<!-- login----------------------------------->

