@model PashaMarket.Domain.ViewModels.Account.RegisterUserViewModel
@{
    ViewData["Title"] = "ثبت نام";
}

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}

<!-- login----------------------------------->

            <section class="page-account-box">
                <div class="col-lg-6 col-md-6 col-xs-12 mx-auto">
                    <div class="ds-userlogin">
                        <a href="#" class="account-box-logo">digismart</a>
                        <div class="account-box">
                            <div class="account-box-headline">
                                <a asp-controller="Account" asp-action="Login" class="login-ds">
                                    <span class="title">ورود</span>
                                    <span class="sub-title">به دیجی اسمارت</span>
                                </a>
                                <a asp-controller="Account" asp-action="Register" class="register-ds active">
                                    <span class="title">ثبت نام</span>
                                    <span class="sub-title">در دیجی اسمارت</span>
                                </a>
                            </div>
                            <div class="Login-to-account mt-4">
                                <div class="account-box-content">
                                    <h4>ثبت نام در دیجی اسمارت</h4>
                                    <form method="post" class="form-account text-right"
                                          asp-controller="Account" asp-action="Register">

                                        <div class="form-account-title">
                                            <label>نام</label>
                                            <input type="text" class="number-email-input" asp-for="FirstName">
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label>نام خانوادگی</label>
                                            <input type="text" class="number-email-input" asp-for="LastName">
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label>تلفن همراه</label>
                                            <input type="text" class="number-email-input" asp-for="Mobile">
                                            <span asp-validation-for="Mobile" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label>رمز عبور</label>
                                            <input type="password" class="number-email-input" asp-for="Password">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-account-title">
                                            <label>تکرار رمز عبور</label>
                                            <input type="password" class="number-email-input" asp-for="ConfirmPassword">
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-row-account">
                                            <button type="submit" class="btn btn-primary btn-register">ثبت نام در دیجی اسمارت</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

